$title-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$paragraph-font: $title-font;

$background-light: #fff;
$background-dark: #000;

$text-dark: #333;
$text-light: #eaeaea;

body {
  font-family: lato, sans-serif;
  color: #333;
  margin: 0;
}

h1,
h2 {
  background: #000;
  padding: 12px 24px;
  color: #fff;
  display: inline-block;
  margin: 0 auto;
  text-transform: lowercase;
}

section {
  margin-top: 90px;
  text-align: center;

  h1 {
    font-size: 54px;
  }

  h2 {
    font-size: 36px;
  }

  .content {
    padding-top: 72px;

    @media (min-width: 768px) {
      max-width: 700px;
      margin: auto;
    }
  }
}

.tool-card {
  border: 1px solid #c4c4c4;

  h4 {
    font-size: 18px;
    margin: 0;
    padding: 12px;
  }

  ul {
    list-style-type: none;
    padding: 0 0 12px;
    margin: 0;
    li {
      color: $text-dark;
      font-size: 12px;
    }
  }
}

.tool-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 36px auto 0;

  .tool-card {
    flex: 1;
    margin: 12px;
  }
}

.cards {
  display: flex;
  margin: 12px auto 0;
  .card {
    flex: 1;
    margin: 12px;
  }
}

section#head {
  .content {
    img.po {
      margin: 0 auto 0;
      display: block;
      width: 180px;
      height: 180px;
    }
    .quote {
      margin: 36px auto 0;
      font-size: 24px;
    }
  }
}

section#projects {
  .content {
  }
}

section#social {
  ul {
    list-style-type: none;
    padding: 0;
    li {
      margin: 0;
      padding: 18px;
      display: inline-block;
      a {
        color: #000;
        font-size: 48px;
      }
    }
  }
}

section#about {
  .description {
    font-size: 24px;
    margin: 0 auto;
  }
  .cv {
    margin-top: 24px;

    a {
      color: $text-dark;
      text-decoration: none;
    }
  }
}

section#contact {
  .content {
    .mecard {
      max-width: 240px;
      margin: 0 auto;
      img {
        width: 100%;
      }
    }
    .mail {
      margin: 36px auto 0;
      a {
        text-decoration: none;
      }
    }
  }
}

footer {
  text-align: center;
  margin: 50px auto 20px;
}
